name: wireguard-go Docker Image CI

on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
        echo "${{ secrets.ghcrtoken }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
        cd wireguard;docker build . --file Dockerfile --tag wireguard-go:latest
    - name: push ghcr.io
      run: |
        docker tag wireguard-go:latest ghcr.io/skylens/wireguard-go:latest
        docker push ghcr.io/skylens/wireguard-go:latest