name: shadowsocks-libev Docker Image CI

on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      env:
        token: ${{ secrets.ghcrtoken }}
      run: |
        echo $token | docker login ghcr.io -u skylens --password-stdin
        cd shadowsocks;docker build . --file Dockerfile --tag shadowsocks-libev:latest
    - name: push ghcr.io
      run: |
        docker tag shadowsocks-libev:latest ghcr.io/skylens/shadowsocks-libev:latest
        docker push ghcr.io/skylens/shadowsocks-libev:latest